:root {
--light-red: hsl(0, 100%, 67%);
--orangey-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);
--light-slate-blue: hsl(252, 100%, 67%); /* Background */
--light-royal-blue: hsl(241, 81%, 54%); /* Background */
--violet-blue: hsla(256, 72%, 46%, 1); /* Circle */
--persian-blue: hsla(241, 72%, 46%, 0); /* Circle */
--white: hsl(0, 0%, 100%);
--pale-blue: hsl(221, 100%, 96%);
--light-lavender: hsl(241, 100%, 89%);
--dark-gray-blue: hsl(224, 30%, 27%);
}

@font-face {
    font-family: hankenGrotesk;
    src:url(assets/fonts/HankenGrotesk-VariableFont_wght.ttf)
}

* {
    margin: 0;
    padding: 0;
}


html, body {
    font-family: hankenGrotesk, sans-serif;
    background: var(--white);
    font-size: 18px;
}

#container {
    display: flex;
    flex-direction: column;
    text-align: center;
}


/* Score Section */

#total-results {
    padding: 1.5em 3em;
    background-image: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
    color: var(--white);
    border-radius: 0 0 20px 20px;
}

.your-result {
    color: var(--light-lavender);
    font-size: 1rem;
}

.average-result-container {
    margin: 1.5em auto;
    border-radius: 50%;
    width: 125px;
    height: 125px;
    background-image: linear-gradient(var(--violet-blue), var(--persian-blue)) ;
}

.average-result {
    font-size: 2.25rem;
    font-weight: 700;
    padding: .60em 0 .20em 0;
}

.average-result-pg {
    color: var(--light-lavender);
    font-size: .70rem;
    font-weight: 700;
}

.score-pg {
    padding: .5em 0 1em 0;
    color: var(--light-lavender);
    font-size: .75rem;
}

/* Summary Section */

#summary-section {
    padding: 1em;
    text-align: start;
}

.summary-results {
    margin: 1em 0;
}

strong {
    color: var(--dark-gray-blue);
}

.summary-score {
    color: grey;
}

.components {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em .75em;
    margin-bottom: 1em;
    border-radius: 10px;
}

svg {
    margin-right: .75em;
}

.reaction {
    background-color: hsla(0, 100%, 67%, .1);
    color: var(--light-red);
}

.memory {
    background-color: hsla(39, 100%, 56%, .1);
    color: var(--orangey-yellow);
}

.verbal {
    background-color: hsla(166, 100%, 37%, .1);
    color: var(--green-teal);
}

.visual {
    background-color: hsla(234, 85%, 45%, .1);
    color: var(--cobalt-blue);
}

button {
    color: var(--white);
    background-color: var(--dark-gray-blue);
    border: none;
    border-radius: 40px;
    padding: .85em 3em;
    width: 100%;
    font-size: 1.15rem;
    text-align: center;
}

button:hover, button:focus {
    background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

@media screen and (min-width: 768px) {
    #container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 5em;
    }
    #total-results {
        padding: 3em;
        max-width: 200px;
        max-height: 500px;
        border-radius: 20px;
    }
    .average-result-container {
        width: 150px;
        height: 150px;
    }
    #summary-section {
        padding: 2.5em 5em 5em 5em;
        border-radius: 20px;
        max-height: 370px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }
    .components {
        align-items: start;
    }

}